$black: hsl(0, 0%, 10%);
$white: hsl(0, 0%, 100%);
$dark-grey: hsl(0, 0%, 20%);
$light-grey: hsl(0, 0%, 90%);

$primary-color: #007fae;
$secondary-color: #4d9c2d;
$accent-color: #f43e3e;
$alert-color: $accent-color;
$success-color: $secondary-color;
