<section class="train-times">
	<h2>Minutes Until A-Line Leaves</h2>
	{{time-countdown
		targetTime=model.nextStopDateTime
		currentTime=model.clock.currentDateTime
		maxTime=model.currentInterval
	}}
	<table class="transportation-overhead">
		<tr>
			<th>Bike</th>
			<td>5 Minutes</td>
		</tr>
		<tr>
			<th>Drive</th>
			<td>5 Minutes</td>
		</tr>
		<tr>
			<th>Uber</th>
			<td>5 Minutes + Wait Time</td>
		</tr>
		<tr>
			<th>Walk</th>
			<td>22 Minutes</td>
		</tr>
	</table>
</section>
